React: 
npm install axios
npm install axios jsonwebtoken
npm install jwt-decode
npm install tailwindcss postcss autoprefixer
npm install @stripe/react-stripe-js


Python:
pip install flask
pip install flask-cors
pip install mysql-connector-python
pip install bcrypt
pip install PyJWT
pip install stripe
pip install virtualenv


select ../backend

myproject\Scripts\activate.bat

Name varchar(50)
Email varchar(40)
Address varchar(100)
City varchar(50)
State varchar(50)
Zip varchar(6)